.content {
    background-image: url("../../assets/himg.svg");
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    /* position:relative; */
    margin-top: 4.5rem;
  }
  .text{
     margin-left: 50px;

  }
  table,thead,tr,th{
    margin-top: 5%;
     padding-right: 30px;
     margin-bottom: 25%;
     border: 1px solid black;
     border-collapse: collapse;
     padding: 10px;
     width: 50rem;

  }